<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>

        <File name="CalculatorLogTRACE" fileName="lab2/src/logs/calculatorLogTRACE.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="CalculatorLogDEBUG" fileName="lab2/src/logs/calculatorLogDEDUG.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="CalculatorLogINFO" fileName="lab2/src/logs/calculatorLogINFO.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="CalculatorLogWARN" fileName="lab2/src/logs/calculatorLogWARN.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="CalculatorLogERROR" fileName="lab2/src/logs/calculatorLogERROR.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>

<!--        <Logger name="" level="debug" additivity="false">-->
<!--            <AppenderDef ref = "" />-->
<!--        </Logger>-->

        <Root level="info">
            <AppenderRef ref="CalculatorLogTRACE" level="trace"/>
            <AppenderRef ref="CalculatorLogDEBUG" level="debug"/>
            <AppenderRef ref="CalculatorLogINFO" level="info"/>
            <AppenderRef ref="CalculatorLogWARN" level="warn"/>
            <AppenderRef ref="CalculatorLogERROR" level="error"/>
        </Root>

    </Loggers>

</Configuration>